html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Stop scrolling */
}

body {
    background-image: url("../images/minimo_bg.png");
  /* background-image: url("../images/minimo_bg.png");  */
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  font-family: Arial, sans-serif;
 
  color: white;
  text-shadow: 1px 1px 5px black;
  background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

/* .bg-home {
  background-image: url("assets/images/minimo_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

#loginPage {
  /* background-image: url("assets/images/login_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* background-color: white; */
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#themePage {
  display: none;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btnTh1{
  background-color: yellow;
  color: black;
}

html, body{
    overflow: auto;
}

.screen {
  width: 100%;
  height: 100vh;
  position: relative;
}

h1 {
    font-size: 5vw;
    
}

p {
    font-size: 2vw;
}

#btnPlay{
    font-family: 'Arial', sans-serif;
    /* padding: 12px 24px; */
    border: none;
    /* border-radius: 10px; */
    border: 3px solid black;
    background-color: #fffb00;
    color: black;
    margin: auto;
    position: absolute;
    top: 60vh;      
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

#btnPlay:hover {
    background-color: white;
    opacity: 0.55;
}

.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
  opacity: 0.55;
}

.login-box {
    width: 300px;
    padding: 25px;
    border-radius: 12px;
    /* background: rgba(255, 255, 255, 0.35); */
    background: #fffab6;
    backdrop-filter: blur(1px);
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 3.5vw;
}

.login-box input {
    padding: 15px;
    border-radius: 7px;
    border: none;
    outline: none;
}

.login-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    opacity: 0.55;
}

.back-btn {
    background: none;
    border: none;
    color: black;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

.error-msg {
    color: red;
    font-size: 14px;
    height: 5px;
}

#regPageDiv{
    /* align-items: grid; */
    /* align-content:; */
    display: flex;
    align-items: center;
    align-self: center;
    padding: 5px;
}

#regAsk{
    font-size: 1.8vw;
    color: black;
}

#btnRegPage{
    background-color: transparent;
    border: transparent;
    color: black;
    cursor: pointer;
    padding-left: 31px;
}

#btnRegPage:hover{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-shadow: 1px 1px 5px #000000;
}

#regPage {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reg-box {
    width: 300px;
    padding: 25px;
    border-radius: 12px;
    /* background: rgba(255, 255, 255, 0.35); */
    background: #fffab6;
    backdrop-filter: blur(1px);
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.reg-box h2 {
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 3.5vw;
}

.reg-box input {
    padding: 15px;
    border-radius: 7px;
    border: none;
    outline: none;
}

#regBtn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

#regBtn:hover {
    opacity: 0.55;
}


/* //////////////////////////////////////////// */


#regPageDiv{
    /* align-items: grid; */
    /* align-content:; */
    display: flex;
    align-items: center;
    align-self: center;
    padding: 5px;
}

#regAsk{
    font-size: 1.8vw;
    color: black;
}

#btnRegPage{
    background-color: transparent;
    border: transparent;
    color: black;
    cursor: pointer;
    padding-left: 31px;
}

#btnRegPage:hover{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-shadow: 1px 1px 5px #000000;
}

.screen {
    transition: all 0.4s ease;
}





/* Media queries for small screens */
@media (max-width: 768px) {
    h1 { font-size: 6vw; }
    p { font-size: 4vw; }
}

@media (max-width: 425px) {
    h1 { font-size: 8vw; }
    p { font-size: 5vw; }
}

@media (max-width: 320px) {
    h1 { font-size: 10vw; }
    p { font-size: 6vw; }
}
