html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Stop scrolling */
}

/* Responsive Full Background */
body {
    background-image: url("../images/minimo_bg.png");
  /* background-image: url("../images/minimo_bg.png");  */
  background-size: cover;       /* scale image to cover screen */
  background-position: center;  /* center the image */
  background-repeat: no-repeat; /* no tiling */
  font-family: Arial, sans-serif;

  /* center content */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  color: white;
  text-shadow: 1px 1px 5px black;
  background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bg-home {
  background-image: url("assets/images/minimo_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#loginPage {
  /* background-image: url("assets/images/login_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* background-color: white; */
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


html, body{
    overflow: auto;
}

.screen {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Make text responsive for all screen sizes */
h1 {
    font-size: 5vw;  /* scales with viewport width */
    
}

p {
    font-size: 2vw;
}

#btnPlay{
    font-family: 'Arial', sans-serif;
    /* padding: 12px 24px; */
    border: none;
    /* border-radius: 10px; */
    border: 3px solid black;
    background-color: #fffb00;
    color: black;
    margin: auto;
    position: absolute;
    top: 60vh;      
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

#btnPlay:hover {
    background-color: white; /* changes when hovered */
}

/* Media queries for small screens */
@media (max-width: 768px) {
    h1 { font-size: 6vw; }
    p { font-size: 4vw; }
}

@media (max-width: 425px) {
    h1 { font-size: 8vw; }
    p { font-size: 5vw; }
}

@media (max-width: 320px) {
    h1 { font-size: 10vw; }
    p { font-size: 6vw; }
}
